@page
@model CandidateManagement_GUI.Pages.CandidateProfilePages.DetailsModel

@{
    ViewData["Title"] = "Candidate Details";
}

<div class="candidate-form">
    <h2 class="candidate-name">Candidate Profile Details</h2>
    <div class="candidate-card">
        <div class="candidate-info">
            <strong>Full Name:</strong>
            <p>@Html.DisplayFor(model => model.CandidateProfile.Fullname)</p>
        </div>

        <div class="candidate-info">
            <strong>Birthday:</strong>
            <p>@Html.DisplayFor(model => model.CandidateProfile.Birthday)</p>
        </div>

        <div class="candidate-info">
            <strong>Profile Description:</strong>
            <p>@Html.DisplayFor(model => model.CandidateProfile.ProfileShortDescription)</p>
        </div>

        <div class="candidate-info">
            <strong>Profile URL:</strong>
            <p>@Html.DisplayFor(model => model.CandidateProfile.ProfileUrl)</p>
        </div>

        <div class="candidate-info">
            <strong>Job Posting:</strong>
            <p>@Html.DisplayFor(model => model.CandidateProfile.Posting.PostingId)</p>
        </div>

        <div class="candidate-actions">
            <a asp-page="./Edit" asp-route-id="@Model.CandidateProfile.CandidateId" class="btn-primary">Edit</a>
            <a asp-page="./Index" class="btn-secondary">Back to List</a>
        </div>
    </div>
</div>